export TF_CLI_ARGS_apply="-auto-approve"

export AWS_ACCESS_KEY_ID=$(aws configure get aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(aws configure get aws_secret_access_key)
export AWS_DEFAULT_REGION=$(aws configure get region)
export AWS_ENVIRONMENT=dev

if [ ! -d ".terraform" ]; then
  echo "📦 Initializing Terraform..."
  terraform init
fi

cat > backend.tfbackend <<EOF
bucket         = ""
key            = "${AWS_ENVIRONMENT}/terraform.tfstate"
region         = "$AWS_DEFAULT_REGION"
encrypt = true
EOF